<h2>Записаться</h2>

<form action="/visit" method="POST">
  <div class="mb-3">
    <label >Ваше имя</label>
    <input name="username" type="text" class="form-control" placeholder="Введите ваше имя">
    
  </div>
  <div class="mb-3">
    <label >Ваш телефон</label>
    <input name="phone" type="text" class="form-control" placeholder="Введите ваш номер телефона">
    
  </div>
  <div class="mb-3">
    <label >Когда вас ждать?</label>
    <input name="datetime" type="text" class="form-control" placeholder="Введите дату и время">
    
  </div>
  
  <button type="submit" class="btn btn-primary">Записаться</button>
</form>