<h2>Записаться</h2>
<p>На этой странице вы сможете записаться к нам в Barber Shop</p>


<form action="/visit" method="POST" role="form">
  <div class="mb-3">
    <label >Ваше имя</label>
    <input name="username" type="text" class="form-control" placeholder="Введите ваше имя">
    
  </div>
  <div class="mb-3">
    <label >Ваш телефон</label>
    <input name="phone" type="text" class="form-control" placeholder="Введите ваш номер телефона">
    
  </div>
  <div class="mb-3">
    <label >Когда вас ждать?</label>
    <input name="datetime" type="text" class="form-control" placeholder="Введите дату и время">
    
  </div> <br>

  </div>
  <div class="mb-3">
    <label >Ваш парикмахер</label>
    <select class="form-select" aria-label="Default select example">
  <option selected>Open this select menu</option>
  <option value="Марина">Марина</option>
  <option value="Светлана">Светлана</option>
  <option value="Анна">Анна</option>
</select>
   
  </div> 


 
  
</form>

<button type="submit" class="btn btn-primary">Записаться</button>